<%- include('../partials/head.ejs') %>
    <h1>This is a h1</h1>
    <h2>This is a h2</h2>
    <p>
        <%= 2+2 %>
    </p>
    <span><% for(let i = 0 ; i < 10 ; i++){ %> <h3>hello</h3> <% } %></span>
    <h2>This is second lalala <br>
        <%= 'this ' + 'is ' + 'me!'%>
    </h2>
    <%- include('../partials/footer.ejs') %>