body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: black;
}

div {
    height: 500px;
    width: 500px;
    background-color: rgb(97, 97, 97);
    border: solid rgb(41, 41, 41) 5px;
}